<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testImageScan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D757EF11C1DD0E60007EA7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D757F0A1C1DD0E60007EA7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D757F151C1DD0E60007EA7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
